OPENWEATHER_API_KEY=sua_chave_aqui
DEFAULT_CITY=Brasilia
DEFAULT_COUNTRY=BR
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5
INMET_HISTORICAL_ZIP_DIR=data/raw/inmet/zips
INMET_HISTORICAL_START_YEAR=2020
INMET_HISTORICAL_END_YEAR=2026
